html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
}

.swiper-pagination-bullet-active {
	opacity: 1;
}

.swiper-bg {
	background-image: url(../../Resources/swiper-bg.png);
}

.showimg-panel {
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 20px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

.title-row1 {
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
}

.title-row {
	margin-top: 10px;
	opacity: 0.7;
}

.btn-w-h {
	width: 140px;
	height: 36px;
	border: 1px solid;
	border-radius: 18px;
}

.btn-login {
	color: #FFFFFF;
}

.btn-welcome {
	margin-left: 25px;
}

.img-pos {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.img-cover1 {
	background-image: url(../../Resources/cm4_start_page1_cover@3x.jpg);
	width: 0px;
	height: 0px;
	position: absolute;
}


.img-cover2 {
	background-image: url(../../Resources/cm4_start_page2_head@3x.png);
	width: 0px;
	height: 0px;
	position: absolute;
}

.welcome{
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../../Resources/LaunchImage-800-Portrait-736h@3x.png);
	z-index: 1;
}
